<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>结果radio</title>
</head>
<body>
<div id="app">
  <h2>{{message}}</h2>
  <label for="male">
    <input type="radio" id="male" value="男" v-model="ismale">男
  </label>
  <label for="ismale">
    <input type="radio" id="ismale" value="女" v-model="ismale">女
  </label>
  <h2>选择的是：{{ismale}}</h2>
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el:'#app',
    data:{
      message:'hws fighting!!!',
      ismale:'男'
    }
  })
</script>
</body>
</html>